* {
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/* Header section starts */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0; left: 0; right:0;
    z-index: 1000;
    background: black;
    opacity: 0.6;
}

.header h1 {
    color :cornsilk;
    font-size: 30px;
}

.header .navbar {
    overflow: hidden;
}

.header .navbar ul li {
    float: left;
}

.header .navbar ul li a {
    color: cornsilk;
    text-align: center;
    padding: 14px 16px;
    text-transform: uppercase;
    text-decoration: none;
  }

.header .navbar ul li a:hover {
    color: cornsilk;
    background-color: gold;
}

.header .icons div{
    color: cornsilk;
    cursor: pointer;
    font-size: 20px;
}

#menu-btn {
    display: none;
}
/* Header section ends */

/* Home section starts */
.home {
    display: relative;
    background-image: url(/assets/main-bg.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    text-align: center;
}

.home .content {
    display: absolute;
}

.home .content h1{
    color: cornsilk;
    text-transform: uppercase;
    font-size: 73px;
    padding-top: 200px;
}

.home .content h2{
    color: cornsilk;
    font-size: 20px;
    padding-top: 30px;
}

.home .content .btn {
    background-color: rgb(196, 136, 25);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 12px;
    color: black;
}

.home .content a{
    text-transform: uppercase;
    color: black;
}

.home .content p {
    color: cornsilk;
    padding-top: 150px;
    text-transform: uppercase;
}
/* Home section ends */

/* Works section starts */
.work {
    background-image: url(/assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 110vh;
}

.work .text {
    font-size: 20px;
    color: cornsilk;
    padding-top: 130px;
    padding-left: 50px;
}

.img-container {
    float: left;
    padding-top: 2px;
    padding-left: 50px;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.work .clearfix p{
    font-size: 20px;
    color: cornsilk;
}

.work .clearfix h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: cornsilk;
    padding-top: 15px;
}
/* work section ends */

/* contact section starts */
.contact {
    background-image: url(/assets/features.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 100vh;
}


.contact .content {
    float: right;
    padding-top: 130px;
    padding-right: 250px;
}

.contact .content p {
    font-size: 20px;
    color: cornsilk;
}

.contact .content h1 {
    font-size: 50px;
    color: cornsilk;
}

.contact .timeline {
    float: left;
    margin-left: 870px;
    padding-top: 70px;
}

.contact .timeline::before {
    content: "";
    float: left;
    position: absolute;
    height: 133px;
    width: 2px;
    background-color: white;
    left :850px;
    margin-top: 15px;
}

.timeline .contentsatu h2 {
    color: gold;
}
.timeline .contentsatu p {
    color: white;
    padding-top: 10px;
}
.timeline .contentdua h2 {
    color: gold;
    padding-top: 80px;
}
.timeline .contenttiga h2 {
    color: gold;
    padding-top: 50px;
}

.contact .timeline .contentsatu::after {
    content: '';
    float: left;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px white;
    border-radius: 50%;
    z-index: 1;
    left: 843px;
    margin-top: -52px;
}

.timeline .contentdua::after {
    content: '';
    position: absolute;
    float: left;
    width: 13px;
    height: 13px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
    left: 843px;
    margin-top: -20px;
}

.contact .timeline .contenttiga::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
    left: 843px;
    margin-top: -21px;
}
/* contact section ends */

/* about section starts */
.about {
    background-image: url(/assets/requirements.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    height: 100vh;
}

.about .content {
    padding-top: 100px;
}

.about .content p {
    color: cornsilk;
    text-transform: capitalize;
    text-align: center;
}

.about .content h1 {
    color: cornsilk;
    text-transform: uppercase;
    font-size: 65px;
    padding-left: 100px;
}

.about .content h2 {
    color: cornsilk;
    text-transform: uppercase;
    font-size: 60px;
    padding-left: 100px;
}

.table {
    padding-left: 100px;
    padding-top: 50px;
}

table, td {
    border: 1px solid white;
    padding: 20px;
    width: 250px;
}
  
table {
    border-collapse: collapse;
    width: 50%;
    padding-top: 100px;
}

.about .table table tr td h1 {
    color: gold;
}

.about .table table tr td p {
    color: white;
    padding-top: 5px;
}
/* about section ends */

/* score section starts */
.score {
    background-color: black;
    height: 100vh;
}

.score .content {
    padding-top: 230px;
    padding-left: 100px;
    float: left;
}

.score .content h1 {
    color: cornsilk;
    text-transform: uppercase;
    font-size: 40px;
}

.score .content p {
    color: cornsilk;
    padding-top: 20px;
}

.score .content .btn {
    background-color: rgb(196, 136, 25);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 6px;
    color: black;
    width: 200px;
    text-transform: uppercase;
}

.score .container {
    float: right;
    padding-top: 100px;
    padding-right: 100px;
}

/* card-1 starts */
.score .container .card-1 {
    background-color: rgb(20, 18, 18);
    height: 150px;
    width: 480px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.score .container .card-1 img {
    border-radius: 100px;
    width: 70px;
    float: left;
    padding: 10px;
}

.score .container .card-1 h1 {
    color: gold;
    text-transform: capitalize;
    padding-top: 10px;
}

.score .container .card-1 .card-body .card-header p {
    color: rgb(48, 46, 42);
    text-transform: uppercase;
}

.score .container .card-1 .card-body .card-content p {
    color: cornsilk;
    padding-top: 25px;
    padding-left: 10px;
}

.score .container .card-1 .card-body .card-footer p {
    color: rgb(48, 46, 42);
    padding-top: 25px;
    padding-left: 10px;
}
/* card-1 ends */

/* card-2 starts */
.score .container .card-2 {
    background-color: rgb(20, 18, 18);
    height: 150px;
    width: 480px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.score .container .card-2 img {
    border-radius: 100px;
    width: 70px;
    float: left;
    padding: 10px;
}

.score .container .card-2 h1 {
    color: gold;
    text-transform: capitalize;
    padding-top: 10px;
}


.score .container .card-2 .card-body .card-content p {
    color: cornsilk;
    padding-top: 25px;
    padding-left: 10px;
}

.score .container .card-2 .card-body .card-footer p {
    color: rgb(48, 46, 42);
    padding-top: 20px;
    padding-left: 10px;
}
/* card-2 ends */

/* card-3 starts */
.score .container .card-3 {
    background-color: rgb(20, 18, 18);
    height: 150px;
    width: 480px;
    border-radius: 12px;
}

.score .container .card-3 img {
    border-radius: 100px;
    width: 70px;
    float: left;
    padding: 10px;
}

.score .container .card-3 h1 {
    color: gold;
    text-transform: capitalize;
    padding-top: 10px;
}

.score .container .card-3 .card-body .card-header p {
    color: rgb(48, 46, 42);
    text-transform: uppercase;
}

.score .container .card-3 .card-body .card-content p {
    color: cornsilk;
    padding-top: 25px;
    padding-left: 10px;
    text-transform: capitalize;
}

.score .container .card-3 .card-body .card-footer p {
    color: rgb(48, 46, 42);
    padding-top: 25px;
    padding-left: 10px;
}
/* card-3 ends */


  









    






























 

















/* media queries */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }

    .home .content h1 {
        font-size: 6rem;
    }

    .contact .content {
        float: right;
        padding-right: 50px;
    }

    .contact .timeline {
        float: right;
        padding-top: 70px;
        padding-right: 150px;
    }

    .contact .timeline::before {
        left: 67%;
        height: 24%;
    }

    .contact .timeline .contentsatu::after {
        left: 66.2%;
        margin-top: -70px;
    }

    .contact .timeline .contentdua::after {
        left: 66.1%;
    }

    .contact .timeline .contenttiga::after {
        left: 66.1%;
    }

    .about .content p {
        font-size: 1.5rem;
    }

    .about .content h1 {
        font-size: 4rem;
        padding-left: 0;
        text-align: center;
        padding-top: 20px;
    }

    .about .content h2 {
        font-size: 4rem;
        padding-left: 0;
        text-align: center;
    }

    .about .table {
        padding-left: 0px;
    }

    .about .table table {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top:100%; right:-100%;
        background: black;
        opacity: 0.6;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar ul {
        margin:20px;
        padding: 2px;
    }

    .header .navbar ul li {
        display: block;
        padding: 30px;
        font-size: 15px;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h1 {
        font-size: 4rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .img-container {
        float: left;
        padding: 0 auto;
        text-align: center;
        padding-right: 50px;
    }

    .contact .content {
        float: right;
        padding-right: 30px;
    }

    .contact .content p {
        font-size: 2.5rem;
    }

    .contact .content h1 {
        font-size: 3rem;
    }

    .contact .timeline {
        float: right;
        padding-top: 70px;
        padding-right: 90px;
    }

    .contact .timeline::before {
       left: 58%;
       height: 24%;
    }

    .contact .timeline .contentsatu::after {
        left: 56.5%;
        margin-top: -70px;
    }

    .contact .timeline .contentdua::after {
        left: 56.5%;
    }

    .contact .timeline .contenttiga::after {
        left: 56.5%;
    }

    .about .content h1 {
        font-size: 3rem;
        padding-left: 0;
        text-align: center;
        padding-top: 20px;
    }

    .about .content h2 {
        font-size: 3rem;
        padding-left: 0;
        text-align: center;
    }

    .about .table {
        padding-left: 0px;
    }

    .about .table table {
        margin-left: auto;
        margin-right: auto;
    }



    
    

}

@media (max-width:450px) {
    
}